APP_NAME=domped
APP_VERSION=1.0.0
APP_PORT=9009
APP_HOST=localhost

DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=
DB_TZ=Asia/Jakarta
DB_POOL_IDLE=
DB_POOL_MAX=
DB_POOL_LIFETIME=

LOG_LEVEL=6

JWT_ACCESS_KEY=
JWT_ACCESS_EXP=
JWT_REFRESH_KEY=
JWT_REFRESH_EXP=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

REDIS_ADDR=
REDIS_USER=
REDIS_PASS=
REDIS_DB=

MIDTRANS_KEY=
MIDTRANS_ENV=